{% extends 'base_generic.html'%} {%block content%}
  
  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        
            <h5 class="card-title">Update Voting Poll</h5>
            <form method="post">
              {% csrf_token %} {{ form.as_div }}
              <button type="submit" class="btn btn-primary">Submit Form</button>
            </form>
         
          
          </div>
        
        </div>


      </div>
    </div>
  </section>
</main>
{%endblock%}
