{% extends 'base_generic.html'%} {%block content %}
        
<h5>Create Voting Poll</h5>
<form method="post">
  {% csrf_token %} {{form.as_div}}
  {% comment %} <div class="form-group">  
    {{ form.name.label_tag }}
    {{form.name}}
  </div>
  <div class="form-group">  
    {{ form.description.label_tag }}
    {{form.description}}
  </div>
  <div class="form-group">  
    {{ form.start_time.label_tag }}
    {{form.start_time }}
  </div>
  <div class="form-group">  
    {{ form.end_time.label_tag }}
    {{form.end_time}}
  </div> {% endcomment %}
  <button type="submit" class="btn btn-primary">Submit Form</button>
</form>
         
          
         
        
{%endblock%}
