{% extends 'base_generic.html' %}
{% block content %}

<div>
  <p>You can view list of available polls below</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      {%for poll in poll_list%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'voting:poll-detail' pk=poll.id %}" style="text-decoration:none">{{poll.name}}</a></td>
        <td>{{poll.description}}</td>
        <td>{{poll.start_time}}</td>
        <td>{{poll.end_time}}</td>
        <td>
          <a href="{% url 'voting:poll-update' pk=poll.id %}" class="btn btn-primary mb-3">Update poll</a>
          <a href="{% url 'voting:poll-delete' pk=poll.id %}" class="btn btn-danger mb-3">Delete poll</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

</div>
{%endblock%} 