
{%extends 'base_generic.html'%}
{%load static%}
{%block content%}

<div class="card" >
  <div class="card-body">
    {% if poll.start_time > now %}
    <h5 class="card-title">{{ poll.name }} has not started</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Description: {{ poll.description }}</h6>
    <p class="card-text">Poll opens:<br />{{poll.start_time}} to {{poll.end_time}} on election day</p>
    <p class="card-text">Current time: {{ now }} 

    {%else%} 
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Welcome!!! {{voter.first_name}} {{voter.last_name}} </h5>
            <p class="card-text">Email: {{ voter.email }}</p>
            <p class="card-text">Phone number: {{ voter.phone_number }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Current poll: {{ poll.name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Description: {{ poll.description }}</h6>
            <p class="card-text">Poll opens:<br />{{poll.start_time}} to {{poll.end_time}} on election day</p>
          </div>
        </div>
      </div>
    </div>
      {%if poll.is_active %}
        <form method="post" class="mb-4 mt-4"> 
          {% csrf_token %}
        {% for candidate in candidates %}
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="candidate" value="{{ candidate.id }}">
              <label class="form-check-label" for="candidate{{ forloop.counter }}">{{ candidate.name }}</label>
            </li>
          </ul>
          
        {% endfor %}
        <button class="btn btn-primary" type="submit">Submit Vote</button>
        </form>
        
      {%elif poll.end_time < now %}
        <a href="{% url 'voting:poll-result' pk=poll.id %}" class="btn btn-success">Poll Result</a>
      {%endif%}
    {%endif%}
  </div>
</div>
{%endblock%}

  {% comment %} <div>
            <input type="radio" name="candidate" value="{{ candidate.id }}">
          <label for="candidate{{ forloop.counter }}">{{ candidate.name }}</label><br>
          <br>
          </div> {% endcomment %}
          